td.open{
	background-color: darkseagreen;
	cursor: pointer;
}
td.selected{
	background-color: darkgray;
}
td.myselection{
	background-color: darkkhaki;
	cursor: pointer;
}
td.booked{
	background-color: palevioletred;
}
.disabled{
	cursor: not-allowed;
    filter: alpha(opacity=50);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .50;
}
.seat{
	text-align: center;
}
.seatplan{
	float: right;
	width: 60%;
}
.description{
	width:40%;
	float:left;
}
dl {
    width: 75%;
}