td.open{
background-color: darkseagreen;
}
td.selected{
background-color: darkgray;
}
td.myselection{
background-color: darkkhaki;
}
td.booked{
	background-color: palevioletred;
}
.disabled{
	cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.seat{
	text-align: center;
}
.seatplan{
	float: right;
	width: 50%;
}